@use "../../../styles/Utils/breakpoints" as *;

.categorie-menu-burger {
    display: none;

    @include sm {
        display: block;
        position: fixed;
        top: 50px;
        right: 4%;
        z-index: 300;
    }
}

.categorie {
    width: 300px;
    height: 100vh;

    background-color: var(--background-light);
    @include lg {
        z-index: 10;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: 80px;
        width: 100%;
        align-items: center;
        overflow-y: hidden;
    }
    @include sm {
        display: none;
        flex-direction: column;
    }

    &__position {
        height: 100%;
        overflow: auto;

        list-style-type: none;

        @include lg {
            z-index: 10;
            display: flex;
            flex-direction: row;
            height: 80px;
            gap: 20px;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            font-size: 14px;
        }

        @include sm {
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            gap: 10px;
        }
    }
    &__liste {
        @include lg {
            margin-bottom: 0;
        }
        @include sm {
            margin-bottom: 20px;
        }
        a {
            color: var(--text-category);
        }
    }
}

.is-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 30;
    width: 60%;
}
