<header class="header-sticky">
    <nav class="p-20">
        <div
            class="d-flex flex-align-items-center flex-justify-content-between m-auto h100 maxW1440 responsive"
        >
            <div class="left-nav d-flex flex-align-items-center maxW1440">
                <a aria-label="Retour page accueil" [routerLink]="'/accueil/feed/'">
                    <picture class="left-nav__logo">
                        <source
                            srcset="../../../assets/images/icon-left-font.svg"
                            media="(min-width: 451px)"
                        />
                        <img class="left-nav__logo" src="../../../assets/images/logo.png" alt="logo" />
                    </picture>
                </a>
            </div>
            <app-insert-category
                *ngIf="user?.role !== 3"
                class="middle-nav-insert-category"
            ></app-insert-category>
            <div class="right-nav d-flex flex-align-items-center">
                <div class="right-nav__logo">
                    <mat-icon *ngIf="user?.role !== 3" class="icon">settings</mat-icon>

                    <a [routerLink]="['/accueil/users']"><mat-icon class="icon">groups</mat-icon></a>

                    <button aria-label="Changer le theme">
                        <mat-icon aria *ngIf="dark" (click)="toggleDarkTheme()" class="icon"
                            >dark_mode</mat-icon
                        >
                    </button>

                    <button aria-label="Changer le theme">
                        <mat-icon *ngIf="!dark" (click)="toggleDarkTheme()" class="icon">light_mode</mat-icon>
                    </button>
                    <button aria-label="Se deconnecter">
                        <mat-icon class="icon" (click)="logOut()">logout</mat-icon>
                    </button>
                    <button aria-label="Modifier le profil">
                        <img
                            (click)="displayProfil()"
                            class="right-nav__avatar"
                            *ngIf="user"
                            src="{{ user.imgUser }}"
                            alt=""
                        />
                    </button>
                </div>

                <!-- <div>
                    <mat-icon (click)="toggleBox()" class="icon burger">{{
                        isMenuOpen ? "close" : "menu"
                    }}</mat-icon>
                </div> -->
                <!-- <div></div> -->
            </div>
        </div>
    </nav>
</header>
